$header-height: 55px;

$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #1b1d20;

html {
    overflow-x: hidden;
}

#faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    #faq-container {
        width: 45%;
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .faq-card {
            margin: 20px 0;

            .question-card {
                background-color: $mid-gray;
                padding: 10px;
                border-radius: 5px;

                h2 {
                    margin: 0;
                    font-size: 1.3em;
                    color: white;
                }
            }

            .answer {
                font-size: 1.1em;
                text-align: justify;
                color: #8d8d8d;
                margin-top: 5px;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    #faq {
        #faq-container {
            width: 85%;

            .faq-card {
                .question-card {
                    h2 {
                        font-size: 1.15em;
                    }
                }

                p {
                    font-size: 1.05em;
                }
            }
        }
    }
}