$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$mid-dark-gray: #19191a;
$dark-gray: #1b1d20;

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 40px;

    .display-block {
        width: 100%;
        margin-top: 20px;
        padding: 20px 60px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background-color: $dark-gray;
        font-size: 2em;
        text-align: center;
        background-color: $mid-gray;
    }
}

#next-session-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-right: 30px;

    .next-session-content {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}





@media all and (max-width: 1000px) {
    .next-session-content {
        flex-direction: column;
        align-items: flex-start;

        .small-p {
            padding-bottom: 10px;
        }
    }
}