$header-height: 3vh;

$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #1b1d20;

.main-section {
    min-height: 100%;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.1em;
            text-align: justify;
            color: #8d8d8d;
        }

        .light-title {
            font-size: 1.15em;
            color: $light-gray;
        }
    }
}

@media all and (max-width: 1000px) {
    .main-section {
        .text-container {
            width: 80%;
        }
    }
}

// TODO: Faire le responsive pour les toutes les pages