$margin-left: 175px;

html,
body {
    overflow-x: hidden !important;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    background-color: #e7e7e7;
    margin-left: $margin-left;
}

.container {
    width: 42%;
    margin: 2vw;
    margin-bottom: 20px;
}

.card-button {
    width: 25px;
    cursor: pointer;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

input,
select {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

input[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    width: 151px;
}

select:disabled,
input:disabled {
    background-color: rgb(221, 221, 221);
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.valide_button {
    text-decoration: none;
    color: black;
    margin: 15px 3vw 0px auto;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
        background-color: #ececec;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media all and (max-width: 767px) {
    * {
        font-size: small;
    }

    div {
        font-size: 10px;
    }

    .container {
        width: 90%;
    }

    .dashboard {
        align-items: center;
        flex-direction: column;
    }

    body {
        margin-left: 0;
    }

    .card-button {
        width: 15px;
    }
}