$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$mid-dark-gray: #19191a;
$dark-gray: #1b1d20;

.imessage {
    // background-color: #fff;
    // border: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco";
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.5rem 1.5rem;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    a,
    p {
        border-radius: 1.15rem;
        line-height: 1.25;
        max-width: 75%;
        padding: 0.5rem .875rem;
        position: relative;
        word-wrap: break-word;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.025);
        }

        &::before,
        &::after {
            bottom: -0.1rem;
            content: "";
            height: 1rem;
            position: absolute;
        }

        // from-me

        &.from-me {
            align-self: flex-end;
            background-color: #248bf5;
            color: #fff;
            border-bottom-right-radius: 0;
        }

        &.from-me::before {
            border-bottom-left-radius: 0.8rem 0.7rem;
            border-right: 1rem solid #248bf5;
            right: -0.35rem;
            transform: translate(0, -0.1rem);
        }

        &.from-me::after {
            background-color: $dark-gray;
            border-bottom-left-radius: 0.5rem;
            right: -40px;
            transform: translate(-30px, -2px);
            width: 10px;
        }

        // from-them

        &.from-them {
            align-items: flex-start;
            background-color: #e5e5ea;
            color: #000;
            border-bottom-left-radius: 0;
        }

        &.from-them:before {
            border-bottom-right-radius: 0.8rem 0.7rem;
            border-left: 1rem solid #e5e5ea;
            left: -0.35rem;
            transform: translate(0, -0.1rem);
        }

        &.from-them::after {
            background-color: $dark-gray;
            border-bottom-right-radius: 0.5rem;
            left: 20px;
            transform: translate(-30px, -2px);
            width: 10px;
        }
    }

    a,p[class^="from-"] {
        margin: 0.5rem 0;
        width: fit-content;
    }
}


/* general styling */
@font-face {
    font-family: "SanFrancisco";
    src:
        url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
        url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}


@media screen and (max-width: 1400px) {
    .imessage {
        font-size: 1.05rem;
        margin: 0 auto 1rem;
        max-width: 600px;
        padding: 0.25rem 0.875rem;

        p {
            margin: 0.5rem 0;
        }
    }
}