$dark-gray: #1b1d20;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: $dark-gray;
}

#section-core {
    position: absolute;
    z-index: 150;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .form-box {
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 2em;
        color: #fff;
        text-align: center;
    }

    .input-box {
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid #fff;

        label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            color: #fff;
            font-size: 1em;
            pointer-events: none;
            transition: .3s;
        }

        input {
            width: 100%;
            height: 50px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            padding: 0 35px 0 5px;
            color: #fff;
        }

        input:focus~label,
        input:not(:placeholder-shown)~label {
            top: 0px;
            font-size: .9em;
        }

        ion-icon {
            position: absolute;
            right: 8px;
            color: #fff;
            font-size: 1.2em;
            top: 20px;
        }
    }

    input[type="submit"] {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }
}

@media all and (max-width: 767px) {
    #section-core {
        margin-left: 0;
    }

    div {
        font-size: 15px;
    }
}