$header-height: 55px;

$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #1b1d20;

.title-photo-example {
    padding-top: 55px;
}

.main-section {
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;

    #title-container {
        width: 65%;
    }

    hr {
        display: block;
        height: 3px;
        width: 50%;
        border: 0;
        border-top: 1px solid #a5b5e0;
        margin: 1em 0;
        padding: 0;
    }

    .container {
        padding: 0;
        margin-bottom: 35px;
        width: 70%;

        >* {
            padding: 0 30px;
        }

        img {
            width: 50%;
            max-width: 700px;
        }
    }

    .session-title {
        font-size: 1.5rem;
        color: $light-gray;
        text-align: center;
        margin: 20px 0;
    }

    .sessions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .session {
            background-color: rgba(65, 110, 146, 0.068);
            color: $light-gray;
            backdrop-filter: blur(5px);
            border-radius: 10px;
            padding: 5px 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}

    .paragraph {
        a {
            color: #7dbdd3;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #507885;
            }
        }
    }


@media all and (max-width: 1000px) {
    .text-container {
        width: 100%;
    }

    .main-section {
        padding-top: 10px;

        hr {
            width: 70%;
            margin: 0;
        }

        .container,
        #title-container {
            width: 80%;

            >* {
                padding: 10px 0;
            }

            img {
                width: 100%;
            }
        }
    }
}