$header-height: 3vh;

$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #1b1d20;

body {
    height: 100vh - $header-height;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;

    #title-container {
        width: 65%;

        .big-h1 {
            font-size: 3em;
            font-weight: bold;
            color: $light-gray;
            margin-bottom: 20px;
            margin-top: 0;
        }
    }

    hr {
        display: block;
        height: 3px;
        width: 50%;
        border: 0;
        border-top: 1px solid #a5b5e0;
        margin: 1em 0;
        padding: 0;
    }

    .container {
        padding: 0;
        margin-bottom: 35px;
        width: 70%;
        >* {
            padding: 0 30px;
        }

        img {
            width: 50%;
            max-width: 700px;
        }
    }
}

@media all and (max-width: 1000px) {
    .main-section {
        padding-top: 20px;
        .container, #title-container {
            width: 80%;
            >* {
                padding: 10px 0;
            }

            img {
                width: 100%;
            }
        }
    }

    .inline-container {
        flex-direction: column-reverse !important;
    }
}