$header-height: 3vh;

$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #1b1d20;

html,
body {
    height: 100vh - $header-height;
}

.main-section {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .container {
        width: 65%;
        >* {
            padding: 0 30px;
        }

        .big-h1 {
            font-size: 3em;
            color: $mid-gray;
            margin-bottom: 20px;
        }
    }
}

@media all and (max-width: 1400px) {
    .main-section {
        .container {
            width: 90%;
        }
    }

    .inline-container {
        flex-direction: column-reverse !important;
    }
}