$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #151618;

$header-height: 55px;


.tt {
    position: relative;
    height: 100px;
    width: 100px;
    background: #000000;
    z-index: 1;
    display: block;
}

.truc {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #c51414, #03278b);
    opacity: 0.5;
    border-radius: 9999px;
    filter: blur(5rem);
}

header {
    box-shadow: none !important;
    background-color: #1516189a;
}

body {
    background-color: $mid-gray;
    background-attachment: fixed;
    background-image: url('/assets/images/home-background/macrocrea.webp'); // TODO: penser à tout mettre en webp
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.7s ease-in-out;
    background-position: center center;

    &::before {
        // Add a pseudo-element to create the overlay effect on the background image
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); // Adjust the opacity as needed
        z-index: -1; // Ensure it stays behind other content
    }
}

.rec-triangle {
    height: $header-height;
    background-color: $dark-gray;
}

.triangle-mid {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border-right: 100vw solid transparent;
    border-bottom: 100px solid $dark-gray;
}

.triangle-mid-down {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border-left: 100vw solid transparent;
    border-top: 100px solid $dark-gray;
}

img {
    width: 70%;
    max-width: 500px;
}

.grey-section {
    background-color: $dark-gray;
    height: 100%;
    padding: 4% 10%;
    margin: 0;

    #lazy-loader {
        position: fixed;
        z-index: -1;
    }
}

.space-empty {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    h1 {
        color: $light-gray;
        font-size: 8em;
        text-align: center;
        font-family: "Icons";
        padding: 0;
        margin: 0 20px;
        text-shadow: #1b1d20 2px 2px 2px; // TODO: à voir si on garde
    }

    p {
        color: $light-gray;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0;
        margin: 0;
        text-shadow: #1b1d20 2px 2px 2px; // TODO: à voir si on garde
    }

}

.info-cadre {
    width: 70%;
    margin-bottom: 5%;
    backdrop-filter: blur(2px);
    background-color: #2c2d3033;

    >* {
        margin: 30px;
    }
}

@media all and (max-width: 1000px) {
    .flex-inline {
        flex-direction: column;
    }

    .space-empty {
        height: 50vh;

        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1em;
        }
    }
}