.popup {
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100px;
    right: 10px;

    width: 50%;
    max-width: 300px;
    height: 80px;

    padding: 12px 20px !important;
    color: #fff;

    animation: popup-show 0.5s ease forwards;

    &.error {
        background-color: #f44336;
    }

    &.success {
        background-color: #4caf50;
    }

    &.info {
        background-color: #2196f3;
    }

    &.warn {
        background-color: #ff9800;
    }

    .popup-title{
        font-size: 16px;
        font-weight: 600;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

@keyframes popup-show {
    0% {
        transform: translate(400px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes popup-hide {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(400px, 0px);
    }
}