$light-gray: #f5f5f5;
$mid-gray: #2c2d30;
$dark-gray: #1b1d20;

#workshop-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    #workshop-container-grid {
        width: 75%;

        .workshop-card {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s;
                z-index: 1;

                &:hover {
                    transform: scale(1.015);
                }
                
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    z-index: 2;
                }
            }

            .text-over {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                color: white;
                font-size: 2em;
                font-weight: bold;
                text-align: center;
                z-index: 2;
            }
        }
    }
}

@media all and (max-width: 1200px) {}